

body{
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    background-color: rgb(238, 234, 234);
    width: 100%;
    
}



<!--header-->


.header{
    height: 4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    background-color: white;
}
.inner_header{   
   display: block;
   margin: 0 auto;
    
}
.logo_container{  
   float: left;
  
}

.logo_container h1{
    color: #4d4b4b;
    vertical-align: middle;
    font-size: 1em;
    font-weight: normal;
    float: left;

}

.logo_container img{
    padding-left: 1.5em;
    size: 1.5em;
    vertical-align: middle;
    height: auto;
}

.logo_container span{
    font-weight: normal;
    color: #4a4a4a;

} 
.navigation{
    float: right;  
    padding-right: 1.5em; 
}

.navigation a{
    padding: 0em 0.5em;  
}

.navigation a li{
   display: table-cell;
   vertical-align: middle;
   font-size: 1em;
   text-align: center;  
   color: #4a4a4a; 
}


<!--banner-->


.banner{
    background-color: gray;
    display: inline-block;

}
.banner img{
    max-width: 55%;
    padding: 2em 2em 2em 1.5em;
    float: left;
       
}
.inner_banner{
    padding: 4em 1.5em 4em 0.75em; 
    max-width: 37%;
    float: right;
  
    
}    
.inner_banner h1{
    font-size: 3em;
    
}  
.inner_banner h2{
    font-size: 1.75em;
    font-weight: lighter;
}
.inner_banner h3{
    font-size: 1.3em;
    color: #ffffff;
    letter-spacing: 0.03em;
    line-height: 2.0em;
    text-align: center;
    
}
.button {
    width: 80%;
    background-color: #4a4a4a;
    height: 3.03em;
    
    
}
<!--information_main-->

.information {
    display: inline-block;
    width: 100%;
}

.information img, video, .information_text{
    padding: 2em 1.5em;
    width: 55%;
    float: left;
}

<!--aside-->

.aside {
    max-width: 40%;
    padding-top: 2em;
    
}    
.aside img{
    width: 13%;  
    float: left;
    padding: 2em 1em;

}    

.aside_text {  
    float: left;
    padding-top: 2em;
    width: 20%;
    text-align: left;
}
.aside_text h1{
    font-weight: bold;
    font-size: 1.5em;
    
}

.aside_text h2{
    font-weight: lighter;
    font-size: 1em;
    
}
.aside_text h3{
    font-weight: lighter;
    color: rgb(42, 42, 252);
    font-size: 0.75em;
    
}

<!--information_text-->

.information_text h1{
    font-weight: bold; 
    font-size: 2em;
}
.information_text h2{
    font-weight: normal;
    font-size: 1em;
    padding-top: 1.5em;
}
.information_text h3{
    font-size: 0.75em;
    font-weight: normal;
    padding: 2em 0em;
}


<!--middle-->

.middle{
    background-color: lightgrey;
    display: inline-block;
    padding: 2em 4.5em;
    width: 100%;
}

.middle h1{
    text-align: center;

}
<!--row_and_column-->
.row {
    display: table;
    padding: 2em 4.5em; 

}
.column {
    width: 28%;
    background-color: white;
    display: inline-block;
}
.column img{
    width: 100%;
    
}
.column_text{
    padding: 1em 1em 1.5em 1em; 
    
}  
.column h1{
    font-size: 1.4em;
    text-align: left;
}

.column h2, h3{
    font-size: 0.9em;
    font-weight: lighter;
    padding-top: 0.5em;
}

<!--buttom-->

.buttom{
    width: 100%;
    display: inline-block;
    
}

.buttom h1{
    text-align: center;
    padding-top: 2em;
    font-size: 2em;
}

